<!DOCTYPE html>
<html ng-app="cursoAngular">
  <head>
    <meta charset="utf-8">
    <title>Curso AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script>
      var app = angular.module("cursoAngular", []);

      app.controller("cursoAngularController", function($scope){
        $scope.mensagem = "Olá Mundo !";
        $scope.contatos = [];

        $scope.adicionaUm = function(){
          var contatoTemp = angular.copy($scope.contato);
          $scope.contatos.push(contatoTemp);
        };
      });
    </script>
  </head>


  <body ng-controller="cursoAngularController">
    <input type="text" value="" ng-model="contato.nome">
    <input type="text" value="" ng-model="contato.telefone">
    <button ng-click="adicionaUm()">Adiciona na lista</button>

    <table>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
      </tr>

      <tr ng-repeat="contato in contatos">
        <td>{{contato.nome}}</td>
        <td>{{contato.telefone}}</td>
      </tr>
    </table>
  </body>
</html>
